.imagem-banner {
    opacity: 0.35;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    ;
}

.imagem-lenin {
    width: 50%;
    border-radius: 50rem;
}

.icone-curso {
    max-width: 2rem;
}

.imagem-projeto {
    width: 100rem;
}

.portifolio-respn {
    display: none;
}

@media screen and (max-width: 769px) {
    * {
        font-size: xx-small;
    }

    .card-img-overlay {
        display: none;
    }

    .portifolio-respn {
        display: block;
        margin-top: -23rem;
        margin-bottom: 2rem;
        margin-left: 6rem;
    }

}