.imagem-banner {
    opacity: 0.35;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.imagem-lenin {
    width: 50%;
    border-radius: 50rem;
}

.icone-curso {
    max-width: 2rem;
}